.carousel-root {
  outline: none;
  height: 100%;
}

.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  -webkit-transition: height 0.15s ease-in;
  -moz-transition: height 0.15s ease-in;
  -ms-transition: height 0.15s ease-in;
  -o-transition: height 0.15s ease-in;
  transition: height 0.15s ease-in;
  height: 100%;
}

.carousel .slider {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  width: 100%;
  height: 100%;
}

.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
}

.carousel .slide div {
  height: 100%;
}

.carousel .slide img {
  width: 100%;
  vertical-align: top;
  border: 0;
  height: 100%;
  object-fit: cover;
}


