@use '../../../app/variables' as *;

.button_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 8.5vh;
    position: absolute;
    left: 4.2%;
    bottom: 9%;
    z-index: 1;
    max-width: 50%;


    @include screen("medium") {
        left: 3.2%;
        // width: 60%;
    }


    @include screen("small") {
        left: 2%;
    }
    
    .button {
        width: 40px;
        min-height: 40px;
        border: 1px solid black;
        text-align: center;
        font-size: 0.5rem;
        letter-spacing: 0.1rem;
        font-family: 'MuseoModerno';
        font-weight: 600;
        margin-top: 0.4rem;
        display: flex;
        justify-content: center; 
        align-items: center; 
        cursor: pointer;
        span {
            display: none;
        }

    }

    .active_button {
        background-color: black;
        color: white;
        width: fit-content;
        min-height: 30px;
        justify-content: left; 
        

        span {
            display: inline-block;
        }
        
        #index {
            width: 40px;
            min-height: 40px;
            text-align: center;
            font-size: 0.5rem;
            letter-spacing: 0.15rem;
            font-family: 'MuseoModerno';
            font-weight: 600;
            display: flex;
            justify-content: center; 
            align-items: center; 
        }

    }
}

#title {
    padding-left: 0.8rem;
    font-size: 0.8rem;
    flex-wrap:wrap;
    width: fit-content;
    font-weight: 500;
}

#category {
    padding-left: 1.2vw;
    padding-right: 1.8vw;
    font-family: 'Poppins';
    font-weight: 400;
}

// @media (max-width: 1920px) {
    
//     }

// @media (max-width: 1170px) {
//     .button_block {
        
//         left: 3.2%;
//         width: 50%;
//     }
// }

// @media (max-width: 720px) {
//     .button_block {
//         left: 1.8%;
//     }
// }