
#Carousel {
    width: 100%;
    // position:absolute;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .imageContainer {
        width: 93%;
        background-color:antiquewhite;
        position: relative;
        opacity: 0%;
    }

}


@media (max-width: 1250px) {
    /* … */
  }