@use '../../../app/variables' as *;

.mainWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .leftBox {
        width: 7%;

        @include screen("small") {
            width: 12%;
        }


        .innerBox {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-left: 23%;

            @include screen("medium") {
                    margin-left: 40%;
            }

            @media (max-width: 1300px) and (min-width:1100px) {
                margin-left: 15%;
            }

            @media (max-width: 1095px) and (min-width:1000px) {
                margin-left: 55%;
            }

            @include screen("small") {
                margin-left: 0;
            }
            
            @media (max-width: 560px) {
                margin-left: 10%;
            }

            @media (max-width: 450px) {
                margin-left: 0;
            }
            
        }
    }

    #Carousel {
        width: 93%;
        height: 70vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;   

        @include screen("small") {
            width: 88%;
        }

    
        .imageContainer {
            width: 100%;
            height: 100%;
            position: relative;
    
    
            @include screen("medium") {
                width: 98%;
                right: -1.0%;
            }
    
            @include screen("small") {
                width: 100%;
                margin-bottom: 5vh;
            }

        }
    
    }
}

