
#Carousel {
    width: 100%;
    // position:absolute;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .imageContainer {
        width: 93%;
        height:100%;
        background-color: transparent;
        position: relative;
    }

    // #imageSpace{
    //     object-fit: contain;
    //     width:100%;
    //     height:auto;
    // }

}


@media (max-width: 1250px) {
    /* … */
  }