@use '../../../app/variables' as *;

.form {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    .input {
        border: 1px solid black;
        margin: 8px;
        height: 4.5vh;
    }

    input::placeholder {
        font-size: 14px;
        font-family: "MuseoModerno";
        font-weight: 600;
        color: black;
        padding: 10px;
      }

    .message {
        height: 20vh;
    }

    // .mesage input:placeholder {
    //     vertical-align: text-top;
    // }

    .sendButton {
        background-color: black;
        color: white;
        font-family: "MuseoModerno";
        font-weight: 600;
        font-size: 12px;
        margin-left: 8px;
        margin-bottom: 8px;
        height: 4.5vh;

    }
    
}