@use '../../../app/variables' as *;

.form {
    display: flex;
    flex-direction: column;

    .input {
        border: 1px solid black;
        margin: 8px;
        height: 4.5vh;

        &::placeholder {
            font-size: 14px;
            font-family: "MuseoModerno";
            font-weight: 600;
            color: black;
            padding: 10px;
            text-transform: uppercase;
        }
    }


    .message {
        height: 20vh;

        &::placeholder {
            text-align: top;
          }
        }
    }

    .submitButton {
        background-color: black;
        color: white;
        font-family: "MuseoModerno";
        font-weight: 600;
        font-size: 12px;
        margin-left: 8px;
        margin-bottom: 8px;
        height: 4.5vh;
        text-transform: uppercase;
    }

