@use "../../../../app/variables" as *;

.accordionItem {
  border: 1px solid black;
  padding: 0;

  &.accordionItemMid {
    border-bottom: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  &.accordionItemFirst {
    border-bottom: none;
  }

  .accordionTitle {
    font-family: "MuseoModerno";
    background-color: transparent;
    color: black;
    padding-left: 8%;
    padding-right: 2%;
    position: relative;
    width: 100%;
    text-align: left;
    height: 55px;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }

    .accordionTitleIcon {
      height: 1.0rem;
      width: 1.0rem;
      flex-shrink: 0;
      position: absolute;
      right: 0;
      top: 20px;
      margin-right: 1rem;
      z-index: 3;
      color: black;
      cursor: pointer;
    }

    .accordionTitleIconOpen {
      @extend .accordionTitleIcon;
      color: white;
    }

    &.activeItem {
      background-color: black;
      color: white;
    }
  }

  .accordionContent {
    padding: 6%;
  }

  .categoryText {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: 10px;
  }
}