$faded-button-color: rgba(165, 165, 165);
$purple-accent: rgba(188, 0, 147);
$purple-accent-hover:rgba(188, 0, 147, 0.5);
$infinita-black: rgba(33, 33, 33);
$max-small-screen-width: 700px;
$min-medium-screen-width: $max-small-screen-width + 1px;
$max-medium-screen-width: 1169px;
$min-big-screen-width: $max-medium-screen-width + 1px;

$font-weights: ("regular": 400, "medium": 500, "bold": 700);

$breakpoints: (
    small: $max-small-screen-width,
    medium: $min-medium-screen-width,
    large: $max-medium-screen-width + 1px,
);

/* Mixins */

@mixin mobile-only {
    @media (min-width: $min-medium-screen-width) { display: none; }
}
    
@mixin desktop-only {
    @media (max-width: $max-small-screen-width) { display: none; }
} // TODO: remove (use the mixin below)

// @mixin medium-screem {
//     @media (max-width: $max-small-screen-width) or (min-width: $min-big-screen-width) { display: none; }
// }

// @mixin big-screem {
//     @media (max-width: $max-medium-screen-width) { display: none; }
// }

@mixin screen($size) {
    $query: map-get($breakpoints, $size);
  
    @if $size == "small" {
        @media (max-width: $query) { @content; }
    } @else {
        @media (min-width: $query) { @content; }
    }
}
