@use '../../../app/variables' as *;

#header{
    width:100%;
    height: 18%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw 0 3.65vw;

    /* Medium Screens */
    @include screen(medium) {
        padding: 0 5vw 0 5.3vw;
    }

    #infinitaLogo{
        width: 13vw;
        height: auto;

        /* Medium Screens */
        @media (min-width: $min-medium-screen-width) and (max-width: $max-medium-screen-width) {
            width: 18.3vw;
        }

        /* Mobile */
        @media (max-width: $max-small-screen-width) { 
            width:46.87vw;
        }
        @media (max-width: $max-small-screen-width) and (orientation: landscape) { 
            width:20vw;
        }
    }
}
