@use '../../../app/variables' as *;

#buttonContainer{
    @include desktop-only;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.modalMenuButton{
    @include mobile-only;
    display: inline;
    cursor: pointer;
    width:6.2vw;
}
