@use '../../../app/variables' as *;

#navButtonContainer{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height:100%;

    /* Mobile */
    @media (max-width: $max-small-screen-width) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:53vh;
        width:100%;
    }

    .navButton{
        color: $faded-button-color;
        background-color: none;
        font-family: 'MuseoModerno';
        font-weight: 400;
        text-align: center;
        font-size: 0.9vw;
        letter-spacing: 0.12rem;
        transition: color;
        transition-duration: 300ms;
        margin: 0 1.825vw;
        height: 20.6%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        /* Medium Screens */
        @media (min-width: $min-medium-screen-width) and (max-width: $max-medium-screen-width) {
            margin: 0 1.8vw;
            font-size: 1.35vw;
            height: 20%;
        }

        /* Mobile */
        @media (max-width: $max-small-screen-width) {
            margin:  2.9vh 0;
            font-size: 5vw;
            height:5.8vh;
        }

        .line{
            @include desktop-only;
            height: 0.02rem;
            width:100%;
            background:$infinita-black;
            z-index: 0;
            position: absolute;
        }

        .top{
            top:0;
        }

        .bottom{
            bottom:0;
        }
    }

    .navButton:hover{
        color:$infinita-black;
    }

    .activeButton{
        color: $infinita-black;

        /* Mobile */
        @media (max-width: $max-small-screen-width) {
            border-bottom: 1px;
            border-top: 1px;
            border-color: $infinita-black;
            border-style:solid none;
        }
    }
}

//In case thiago does not want the animated navbar.
//.activeButton{
    // border-bottom: 1px;
    // border-top: 1px;
    // border-color: $infinita-black;
    // border-style: solid none;
    // color: $infinita-black;
//}