@use "./../variables" as *;

.main {
  width: 100%;
  height: auto;
  min-height: 63%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2%;
  background-color: white;
  padding-left: 15%;


  @include screen("small") {
    flex-direction: column;
    padding-left: 1%;
  }

  .aboutBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: $col-5-width;
    @include screen("small") {
      width: 95vw;
    }

    .textAbout {
      height: auto;

      .title {
        font-family: "MuseoModerno";
        font-weight: 800;
        font-size: 1rem;
      }

      .description {
        padding-top: 0.5rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        // letter-spacing: 0.5px;
        // line-height: 15px;
        height: auto;
      }

    }

    .categoryBox {
      margin: 8% 0;
      width: 100%;
  }

  .imageBox {
    margin-bottom: 2%;
    width: $col-7-width;

    @include screen("small") {
      padding-left: 2.5%;
      width: 95%;
    }

    .aboutImage {
      width: 100%;
      height: auto;
    }
  }
}

}