@use "./../variables" as *;

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5vh;
  background-color: white;

  .aboutBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;

    .textAbout {
      height:auto;

      .title {
        font-family: "MuseoModerno";
        font-weight: 800;
        font-size: 1rem;
      }

      .description {
        padding-top: 0.5rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.70rem;
        letter-spacing: 0.03rem;
        line-height: 1.1rem;
        
        
      }

    }

    .categoryBox {
      margin-top: 30px;
      height: 20vh;

      .accordionTitle {
        font-family: "MuseoModerno";
        background-color: $infinita-black;
        color: white;
        padding-left: 8%;
      }
    }
  }

  .imageBox {
    // background-color: gray;
    // height: auto;
    margin-bottom: 2%;
    

    .aboutImage {
      width: 100%;
      height: auto;
      // padding-bottom: 5%;
    }
  }

}
