@use '../variables' as *;

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 63%; //because title banner is 7%, and with header and footer, rest of content is 70% of screen.
    background-color: white;
    padding: 5vh 10vw 5vh 15vw; 
    width: 100vw;
  }