.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 63%; //because title banner is 7%, and with header and footer, rest of content is 70% of screen.
    background-color: white;
    padding: 5vh 10vw 5vh 15vw; 
    width: 100vw;
    border: 1px solid blue;
    
    .gridContainer {
      border: 1px solid red;
      width: 75vw;
      height: 75vw;
      // height:auto;

      display: grid; //turns container into a grid
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr; //create 5 rows, each one even fraction wide
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr; //create 5 columns, each one even fraction high
      column-gap: 15px;
      row-gap: 15px;

      .gridChild{
        background-color: blue;
        position: relative;

        .gridImage{
          object-fit: cover;
          position: absolute;
          top:0;
          height:100%;
          width: 100%;
        }
      }

      .firstChild {
        grid-row-start: 1;
        grid-row-end:   3;
      }

      .eighthChild {
        background-color: blue;
        grid-row-start: 2;
        grid-row-end:   4;
        grid-column-start: 4;
        grid-column-end: 5;
      }

      .fifteenthChild {
        background-color: blue;
        grid-row-start: 4;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 3
      }

      .twentyFirstChild {
        background-color: blue;
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 4;
        grid-column-end: 6;
      }
    }
  }
  
