.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 63%; //because title banner is 7%, and with header and footer, rest of content is 70% of screen.
    background-color: white;
    padding: 5vh 10vw 5vh 15vw; 
    width: 100vw;
    
    .gridContainer {
      width: auto;
      min-height: 75vw;
      display: grid; //turns container into a grid
      grid-template-columns: repeat( 5, 14.1vw ); //creates 5 columns
      grid-auto-rows: 14.1vw; //create as many rows as needed, ensures grid items are square
      column-gap: 15px;
      row-gap: 15px;
      grid-auto-flow: dense; //allows grid items to be place out of order to fill open spaces

      .gridChild{
        background-color: black;
        color: white;
        font-size: 2vw;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;

        .gridImage{
          object-fit: cover;
          position: absolute;
          top:0;
          height:100%;
          width: 100%;
        }

        .imageOverlay {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          opacity: 0%;
          padding: 1.5vw;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          // background: linear-gradient(#ac208ecb, #00b5f1cb);
          // mix-blend-mode: color; //test with an image
          
          .overlayTitle {
            font-family: "MuseoModerno";
            text-transform: uppercase;
            font-size: 1vw;
            color: white;
            z-index: 10;
          }

          .overlayBottomText {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 0.8vw;
            font-style: normal;
            text-transform: uppercase;
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            z-index:10;

            .overlayLine {
              height: 2px;
              background-color: white;
              flex-grow: 0.9;
            }
          }

          .gradient {
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left:0;
            z-index:0;
            background: linear-gradient(#ac208e, #00b5f1);
            transition: all 400ms;
            mix-blend-mode: color;
          }
        }
        
        :hover{
            opacity: 100%;
        }


      }

      .horizontalPoster {
        grid-column: span 2;
      }

      .verticalPoster {
        grid-row: span 2;
      }
    }
  }
  
