.main {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding: 2% 2% 2% 15%;
    min-height: 63%; //because title banner is 7%, and with header and footer, rest of content is 70% of screen.
    width: 100vw;
    background-color: white;
  }
  
  .description {
    font-size: 19px;
    font-family: "MuseoModerno";
    font-weight: 600;
    // display: flex;
    min-height: 40vh;
    padding-left: 18%;

    .socialLinks {
      display: flex;
      flex-direction: row;
      font-size: 10px;
      font-family: "Poppins";
      font-weight: 400;
      padding-top: 10px;

      li {
        display: inline-block;
        padding-right: 0.4rem;
      }
    }


  }
