.main {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding: 6rem;
    padding-left: 15%;
    width: 100%;
    background-color: white;
  }
  
  .description {
    font-size: 19px;
    font-family: "MuseoModerno";
    font-weight: 600;
    // display: flex;
    min-height: 40vh;
    padding-left: 18%;

    .socialLinks {
      display: flex;
      flex-direction: row;
      font-size: 10px;
      font-family: "Poppins";
      font-weight: 400;
      padding-top: 10px;

      li {
        display: inline-block;
        padding-right: 0.4rem;
      }
    }


  }
