.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding: 6rem;
    // min-height: 100vh;
    background-color: white;
  }
  
  .description {
    font-size: 18px;
    font-family: "MuseoModerno";
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 300px;
    height: 300px;
  }
  