@use '../../../app/variables' as *;

#header{
    width:100vw;
    height: 18vh;
    background-color: rgba(var(--callout-rgb), 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $desktop-header-padding;

    #infinitaLogo{
        width: 13vw;
        height: auto;
    }
}

/* Mobile */
@media (max-width: $max-mobile-width) {

    #header{
        #infinitaLogo{
            width: 46.87vw;
        }
    }
}