@use '../../../app/variables' as *;

#languageSwitchContainer{
    display: flex;
    flex-direction: row;
    width: 6.1vw;
    height: 3.05vw;
    background-color: white;
    margin-left: $desktop-header-button-spacing;

    .languageButton{
        width:50%;
        height:100%;
        background-color: white;
        color: $infinita-black;
        border: none;
        cursor: pointer;
        transition: background-color, color;
        transition-duration: 200ms;
        font-size: 1vw;
        font-style:normal;
    }

    .languageButton:hover{
        background-color: $purple-accent-hover;
    }

    .activeButton{
        background-color: $purple-accent;
        color: white;
    }

    .activeButton:hover{
        background-color: $purple-accent;
    }
}

/* Mobile */
@media (max-width: 700px) {
    #languageSwitchContainer{
        width: 24vw;
        height: 12vw;
        margin: 16vw 0;

        .activeButton{
            background-color: $purple-accent;
            color: white;
            opacity: 100%;
        }
    }
}