@use '../../../app/variables' as *;

#languageButtonContainer{
    display: flex;
    flex-direction: row;
    width: 4.16vw;
    height: 2.08vw;
    margin-left: 0.78vw;

    .languageButton{
        width:50%;
        height:100%;
        background-color: white;
        color: $infinita-black;
        border: none;
        cursor: pointer;
        transition: background-color, color;
        transition-duration: 200ms;
        font-size: 0.7vw;
    }

    .languageButton:hover{
        background-color: $purple-accent-hover;
    }

    .activeButton{
        background-color: $purple-accent;
        color: white;
    }

    .activeButton:hover{
        background-color: $purple-accent;
    }
}

/* Mobile */
@media (max-width: $max-mobile-width) {
    #languageButtonContainer{
        width: 13.34vh;
        height: 6.67vh;
        margin: 15vh 0 0 0;
        
        .languageButton{
            font-size: 2vh;
        }

        .activeButton{
            opacity: 100%;
        }
    }
}