@use '../../../app/variables' as *;

#languageSwitchContainer{
    display: flex;
    flex-direction: row;
    width: 6.9vw;
    height: 3.45vw;
    background-color: $infinita-black;
    padding: none;
    margin-left: $desktop-header-button-spacing;

    .languageButton{
        padding: none;
        width:50%;
        height:100%;
        background-color: white;
        color: $infinita-black;
        border:none;
        cursor: pointer;
    }

    .activeButton{
        background-color: $purple-accent;
        color: white;
    }
}