@use '../../../app/variables' as *;

#modalMenuBackground{
    @include mobile-only;
}

/* Mobile */
@media (max-width: $max-small-screen-width) {
    #modalMenuBackground{
        //ensures modal is placed above all other elements
        z-index: 3000;
        display: flex; 
        flex-direction: column; 
        justify-content: flex-start; 
        align-items: center; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.95);

        #closeButtonContainer{
            width:100%;
            height:16.6vh;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            #closeButton{
                margin-right: 3vw;
                width: 8vw;
                height: 8vw;
                border: none;
                background-color: none;
                font-size: 100%;
                cursor: pointer;
            }
        }

        #navButtonContainer{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}