@use '../../../app/variables' as *;

#navButtonContainer{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height:100%;


    .navButton{
        color: $faded-button-color;
        background-color: none;
        font-family: 'MuseoModerno';
        font-weight: 500;
        text-align: center;
        font-size: 1.35vw;
        letter-spacing: 0.12rem;
        transition: color;
        transition-duration: 300ms;
        margin: 0 1.85vw;
        height: 23.3%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        .line{
            height: 0.02rem;
            width:100%;
            background:$infinita-black;
            z-index: 0;
            position: absolute;
        }

        .top{
            top:0;
        }

        .bottom{
            bottom:0;
        }
    }

    .navButton:hover{
        color:$infinita-black;
    }

    .activeButton{
        // keep these here in case thiago does not want the animated navbar.
        // border-bottom: 1px;
        // border-top: 1px;
        // border-color: $infinita-black;
        // border-style: solid none;
        color: $infinita-black;
    }
}

/* Mobile */
@media (max-width: 700px) {
    #navButtonContainer{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height:58%;
        margin-bottom: 15vw;

        .navButton{
            margin:  8vw 0;
            font-size: 7vw;

            .line{
               display: none;
            }
        }
    
        .activeButton{
            border-bottom: 2px;
            border-top: 2px;
            border-color: $infinita-black;
            border-style:solid none;
        }
    }

  }