.navButton{
    width:10%;
    background-color: none;
    margin-left: 1%;
    margin-right: 1%;
}

.activeButton{
    border-bottom: 2px;
    border-top: 2px;
    border-color: black;
    border-style:solid none;
}
