@use '../../../app/variables' as *;

#navButtonContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navButton{
        color: $faded-button-color;
        background-color: none;
        margin: 0 $desktop-header-button-spacing;
        font-family: 'museomodernothin';
        text-align: center;
        font-size: 1.5vw;
        transition: color;
        transition-duration: 300ms;
    }

    .navButton:hover{
        color:$infinita-black;
    }

    .activeButton{
        border-bottom: 1px;
        border-top: 1px;
        border-color: $infinita-black;
        border-style: solid none;
        color: $infinita-black;
    }
}

/* Mobile */
@media (max-width: 700px) {
    #navButtonContainer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .navButton{
            margin-top: 2%;
            margin-bottom: 2%;
        }
    
        .activeButton{
            border-bottom: 2px;
            border-top: 2px;
            border-color: $infinita-black;
            border-style:solid none;
        }
    }

  }