@use "../../app/variables" as *;

#loadingScreen{

    z-index:100;
    width: 100vw;
    height: 63vh;
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;

    #logo{
        width: 50vw;
        height:auto;
        position:absolute;
        justify-self: center;
        align-self: center;
        opacity:15%;

        @include screen("small"){
            width: 90vw
        }
    }

    #loadingText{
        position:absolute;
        justify-self: center;
        align-self: center;
        color: black;
        font-family: 'MuseoModerno';
        font-size: 2vw;
        font-weight:500;
        letter-spacing: 0.1rem;
        animation: pulse 2s infinite;
        @keyframes pulse {
            0% {
                opacity:100%
            }
        
            70% {
                opacity:50%;
            }
        
            100% {
                opacity:100%;
            }
        }

        @include screen("small"){
            font-size: 24px;
        }
    }
}