@use "./../variables" as *;

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 63%; //because title banner is 7%, and with header and footer, rest of content is 70% of screen.
    border:1px solid blue;
    background-color: white;
    

    .servicesText {
      border: 1px solid green;
      width: $col-5-width;
      height:auto;
      margin-left: 15vw;
      margin-top: 5vh;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 12px;
    }

    .imageBox{
      border: 1px solid red;
      width: $col-6-width;
      height: auto;
      margin-left: 7vw;
      margin-top: 5vh;
    }

  }

  
