@use "./../variables" as *;

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 63%; //because title banner is 7%, and with header and footer, rest of content is 70% of screen.
    background-color: white;
    padding: 5vh 0;
    width: 100vw;

    .servicesText {
      width: $col-5-width;
      height:auto;
      margin-left: 15vw;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 12px;
    }

    .accordionContainer{
      width: $col-6-width;
      height: auto;
      margin-left: 7vw;
      padding: none;
      
      .accordionItem {
        border: 1px solid black;

        .accordionTitle {
          background-color: $infinita-black;
          color: white;
          width:100%;
          height: auto;
          position: relative;
          padding: none;
          box-sizing: border-box;
  
          .accordionTitleText {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 16px; // FIXME: needs to be made responsive for smaller screens
            font-family: "MuseoModerno";
            z-index: 2;
            width:100%;
            padding-left: 3.5%;
            padding-right: 2%;
            position: absolute;
            left: 0;
            top: 0;
            height: 31%;
            background: rgba(0, 0, 0, 0.7);
          };
  
          .accordionTitleImage {
            width:100%;
            height: auto;
            z-index: 1;
            padding: none;
          };
        };

        .accordionContent {
          font-family: "Poppins";
          padding: 7.5%;
          font-size: 12px;
          line-height: 17px;
        }
      };

      .middleItem { //applied to middle accordion item so that borders dont double up.
        border-top: none;
        border-bottom: none;
        border-left: 1px solid black;
        border-right: 1px solid black;
      }
    }

  }

  
