@use "./../variables" as *;

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 63%; //because title banner is 7%, and with header and footer, rest of content is 70% of screen.
    background-color: white;
    padding: 5vh 0;
    width: 100vw;

    @include screen("small") {
      flex-direction: column;
      padding: 8% 3.75% 3.75% 3.75%;
    };

    .servicesText {
      width: $col-5-width;
      height:auto;
      margin-left: 15vw;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 12px;

      @include screen("small") {
        margin: 0;
        width: 100%;
        font-size: 14.5px;
      }
    };

    .accordionContainer{
      width: $col-6-width;
      height: auto;
      margin-left: 7vw;
      padding: none;

      @include screen("small") {
        width: 100%;
        margin-left: 0;
        margin-top: 8%;
        margin-bottom: 5%;
      };
    };
  };

  
