@use "./../variables" as *;

.allContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    background-color: white;

    @include screen("small") {
        margin: 0;
        padding: 8% 3.75% 3.75% 3.75%;
        height: unset;
    };
    
    .mainContet {
        padding-left: 15%;
        display: flex;
        justify-content:flex-start;

        @include screen("small") {
            flex-direction: column;
            padding: 0
        };

        .imageBox {
            width: $col-4-width; // Set width to 19.3vw
            position: relative;
            padding-top: 0.5%;

            @include screen("small") {
                width: 100%;
                padding: 0;
            };

            .image {
                width: 100%; // Ensure the image fills its container
                height: auto; // Let the height adjust automatically
                object-fit: cover; // Ensure the image covers the container without distortion
            }
        }
        .rightContent {
            width: $col-6-width;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-style: normal;
            margin-left: 10%;
            

            @include screen("small") {
                width: 100%;
                margin: 0;
                padding-top: 8%;
                display: flex;
                flex-direction: column;
                // align-items: center;
            };
        
            .titleTop{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                border-bottom: 1px solid black;
                padding-bottom: 0.5%;
                
                @include screen("small") {
                    padding-bottom: 1%
                };

                .projectName {
                    font-family: "MuseoModerno";
                    font-weight: 800;
                    font-size: 23px;
                    align-self: flex-end;
                }
                .category {
                    font-size: 10px;
                    align-self: flex-end;

                    @include screen("small") {
                        font-size: 12px;
                    };
                
                }  
            }
            .titleBottom{
                display: flex;
                justify-content: space-between;
                flex-direction: row; 
                font-size: 10px;
                padding-top: 1%;

                @include screen("small") {
                    font-size: 12px;
                    padding-top: 1.5%;
                };
            }

            .descripition {
                margin-top: 6%;
                font-size: 12px;

                @include screen("small") {
                    margin-top: 8%;
                };
            }
            .videoEmbed {
                margin-top: 2%;

                @include screen("small") {
                    margin: 12.5% 0;
                };
            }

            .imageGalleryContainer {
                width: 100%;
                margin-top: 5%;
                height: 20%;

                @include screen("small") {
                    margin-top: 0;
                    width: 50%;
                    align-self: center;
                    margin-bottom: 12.5%;
                };

            }
        }
        
    }
    .back {
        font-family: "MuseoModerno";
        font-weight: 800;
        font-size: 20px;
        border-top: 1px solid black;
        margin-top: 7%;
        padding-bottom: 7%;
        margin-right: 27.5%;
        margin-left: 15%;

        @include screen("small") {
            margin: 0;
        };
    }
}

