@use '../../../app/variables' as *;

#footer {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 1%h;

    @media all and (orientation:portrait) {
        flex-direction: column-reverse;
        justify-content: center; 
        align-items: center;
        margin-bottom: 1vh;
        }

    // @include screen("small") {
    //     flex-direction: column-reverse;
    //     justify-content: center; 
    //     align-items: center;
    //     margin-bottom: 1vh;
    // }
    
}

.paragraph {
    font-size: 0.5rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: 4.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    @include screen("medium") {
        margin-left: 3%;
    }

    // @include screen("small") {
    //     margin-left: 0%;
    //     margin-top: 3vh;
    //     font-size: 0.6rem;
    // }

    @media all and (orientation:portrait) {
        margin-left: 0%;
        margin-top: 3vh;
        font-size: 0.6rem;
        }
}


