

#footer {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 1%h;
    
}

.paragraph {
    font-size: 0.4rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: 4.5%;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 1170px) {
    .paragraph {
        margin-left: 3%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    
    }
}

