.container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 20vw;
    height: 2.5vh;
    margin-right: 5rem;
    margin-top: 2rem;
}

.icon {
    padding-right: 4px;
    height: 2.5vh;
}
    



