.icons_container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 15vw;
    margin-right: 3.5%;
    
    .icon_box{
        display: inline-block;
        padding-right: 0.5rem;
        margin: auto 0;
       
        
        .icon {
            height: 2.2vh;
        }
    }
}
